// Place all the styles related to the api/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sticky-outer-container {
    position: fixed;
    // position: sticky;
    z-index: 2;
    width: 23%;
    border: 1px solid whitesmoke;
    right: 9%;
    top: 40%;
    border-radius: 6px;
    background-color: white;
    opacity: 85%;
}

.sticky-underline {
    background-color: lightgray;
    height: 2px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.sticky-heading {
    margin-top: 19px;
    font-size: 22px;
    font-family: 'Commissioner', sans-serif;
    text-align: center;
}

.sticky-dropdown {
    width: 90%;
    margin-left: 5%;
    margin-top: 4px;
    font-size: 16px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid lightgray;
    color: gray;
}

.sticky-dropdown:focus, .sticky-date-time:focus {
    border-bottom: 2px solid crimson;
    outline: none;
}

.sticky-dropdown:hover, .sticky-date-time:hover {
    border-bottom: 2px solid crimson;
    cursor: pointer;
}

.sticky-labels {
    margin-top: 15px;
    margin-left: 5%;
    font-family: 'Commissioner', sans-serif;
}

.sticky-date-time {
    width: 42%;
    margin-left: 5%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid lightgray;
}

.sticky-date-label {
    // margin-top: 15px;
    margin-left: 5%;
    font-family: 'Commissioner', sans-serif;
}

.sticky-time-label {
    // margin-top: 15px;
    margin-left: 36%;
    font-family: 'Commissioner', sans-serif;
}

.date-time-container {
    margin-top: 15px;
}

.sticky-button {
    margin-top: 15px;
    margin-left: 5%;
    cursor: pointer;
    height: 45px; 
    width: 90%; 
    border-radius: 3px;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    border: none;
    background-color: rgb(220, 20, 60);
    color: white;
    margin-bottom: 25px;
}

.sticky-button:hover {
    background-color: darkred;
}

.sticky-select-time-label {
    margin-left: 5%;
    font-family: 'Commissioner', sans-serif;
    // margin-top: 15px;
    font-size: 18px;
}

.sticky-time-buttons-container {
    margin-top: 15px;
}

.sticky-time-bombs {
    margin-left: 6%;
    margin-bottom: 25px;
    // font-family: 'Commissioner', sans-serif;
    color: white;
    background-color: crimson;
    border-radius: 4px; 
    font-size: 15px;
    border: none;
    height: 36px;
    width: 83px;
}

.sticky-time-bombs:hover {
    cursor: pointer;
    background-color: darkred;
}

.time-bomb-container {
    margin-top: 15px;
    display: none;
}

.sticky-time-bombs:focus, .sticky-button {
    outline: none;
}

#sticky-loader {
    display: none;
    border: 4px solid lightgray;
    border-radius: 100%;
    border-top: 6px solid crimson;
    width: 40px;
    height: 40px;
    animation: spin 1.6s linear infinite;
    margin-left: 40%;
    margin-top: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.reservation-top-line {
    border-top: 2px solid lightgray;
    margin-top: 5px;
}

.reservation-show-outer-container {
    width: 60%;
    border: 1px solid lightgray;
    margin-left: 10%;
    margin-top: 10px;
    border-radius: 15px;
}

.reservation-show-button-container {
    margin-top: 20px;
    margin-left: 8%;
}

.reservation-show-top-button {
    margin-left: 2%;
    width: 144px;
    height: 49px;
    border-radius: 4px;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #247f9e;
    border: none;
    position: relative;
}

.reservation-show-top-button:hover {
    cursor: pointer;
    top: -2px;
    filter: brightness(120%);
}

.reservation-show-top-button:focus {
    outline: none;
}

.reservation-show-heading-container {
    width: 100%;
    height: 170px;
    background-color: #55b68d;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.rs1 {
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 30px;
    margin-left: 7%;
    padding-top: 39px;
}

.rs2 {
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    margin-left: 7%;
    margin-top: 32px;
}

.reservation-show-main-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 67px;
    align-items: center;
}

.xyz {
    width: 430px;
    // border: 1px solid hotpink;
}

.rs3 {
    color: #247f9e;
    font-size: 35px;
    font-family: 'Commissioner', sans-serif;
    margin-top: 30px;
}

.reservation-image {
    width: 120px;
    height:120px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: -32%;
}

.re500 {
    margin-top: 15px;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
}

.re501 {
    margin-top: 15px;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    margin-left: 30px;
}

.re4 {
    display: flex;
    // margin-left: -75px;
}

.re5 {
    width: 260px;
    height: 85px;
    overflow: scroll;
    background-color: whitesmoke;
    border-radius: 8px;
    position: relative;
    right: 33px;
    top: 22px;
}

.re6 {
    width: 80%;
    padding-top: 15px;
    margin-left: 5%;
    font-family: 'Commissioner', sans-serif;
    font-size: 15px;
    color: #247f9e;
}

.edit-form-button-container {
    margin: 25px 0px 18px 2%;
}

.re7 {
    margin-left: 2.5%;
    width: 145px;
    height: 51px;
    border-radius: 4px;
    color: white;
    background-color: lightseagreen;
    border: none;
    position: relative;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
}

.re8 {
    margin-left: 2.5%;
    width: 145px;
    height: 51px;
    border-radius: 4px;
    color: white;
    background-color: darkred;
    border: none;
    position: relative;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    top: -10px;
}

.re7:hover, .re50:hover, .re52:hover, .re8:hover {
    cursor: pointer;
    filter: brightness(110%);
}

 .ranch99:hover {
    cursor: pointer;
    filter: brightness(110%);
    top: -2px;
 }

//  .ranch99:hover {
//     cursor: not-allowed;
//     pointer-events: none;
//  }

.re7:focus, .re8:focus, .re50:focus, .re52:focus, .ranch99:focus {
    outline: none;
}

.reservation-edit-form-outer-container {
    display: none;
    margin-top: 25px;
}

.re10 {
    width: 340px;
    height: 50px;
    border: 2px solid lightgray;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
}

.re11, .re12 {
    width: 345px;
    height: 55px;
    border: 2px solid lightgray;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
}

.re11:hover, .re12:hover, .re10:hover {
    cursor: pointer;
    border: 1px solid crimson;
}

.re100 {
    display: flex;
    justify-content: space-evenly;
}

.re99 {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.re13 {
    width: 337px;
    height: 46px;
    border: 2px solid lightgray;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
}

.re10:focus, .re11:focus, .re12:focus, .re13:focus {
    border: 1px solid crimson;
    outline: none;
}

.re50 {
    margin-left: 2.5%;
    width: 145px;
    height: 51px;
    border-radius: 4px;
    color: white;
    background-color: lightseagreen;
    border: none;
    position: relative;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
}

.re52 {
    margin-left: 2.5%;
    width: 145px;
    height: 51px;
    border-radius: 4px;
    color: white;
    background-color: darkred;
    border: none;
    position: relative;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
}

.re37 {
    margin-left: 3%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ranch99 {
    margin-left: 6%;
    margin-bottom: 25px;
    font-family: 'Commissioner', sans-serif;
    color: white;
    background-color: crimson;
    border-radius: 4px; 
    font-size: 15px;
    border: none;
    width: 135px;
    height: 44px;
    position :relative;
}

.ninety-9-ranch {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    display: none;
}

.rx8 {
    margin-left: 20px;
}

.rx7 {
    margin-left: 5px;
}

#sticky-loader2 {
    display: none;
    border: 8px solid lightgray;
    border-radius: 100%;
    border-top: 8px solid crimson;
    width: 80px;
    height: 80px;
    animation: spin 1.6s linear infinite;
    margin-left: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal-delete-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.modal-delete-inner {
//   background-color: rgb(49, 18, 18);
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px; 
  border-radius: 10px;
}

.honda {
    font-family: 'Commissioner', sans-serif;
    font-size: 25px;;
    text-align: center;
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    line-height: 36px;
}

.toyota {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    background-color: seagreen;
    border: none;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    color: white;
    position: relative;
}

.nissan {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.mazda {
    width: 166px;
    height: 35px;
    border-radius: 4px;
    background-color: crimson;
    border: none;
    font-family: 'Commissioner', sans-serif;
    font-size: 15px;
    color: white;
    position: relative;
}

.toyota:hover {
    background-color: #55b68d;
    cursor: pointer;
}

.mazda:hover {
    background-color: darkred;
    cursor: pointer;
}

.f1 {
    font-size: 200;
}

.a0 {
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

.a1 {
    width: 50%;
    border: 2px solid white;
    margin-top: 25px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 25px;
}

.a2 {
    width: 25%;
    border: 2px solid white;
    margin-top: 25px;
    border-radius: 10px;
    margin-left: -85px;
    background-color: white;
    margin-bottom: 25px;
}

.a3 {
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 5%;
}

.a4 {
    display: flex;
    margin-left: 5%;
    margin-top: 25px;
}

.a4-5 {
    width: 120px;
    height:120px;
    object-fit: cover;
    border-radius: 5px;
}

.a5 {
    color: #247f9e;
    font-size: 28px;
    font-family: 'Commissioner', sans-serif;
    margin-top: 4px;
    margin-left: 25%;
}

.a6 {
    margin-top: 25px;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    margin-left: 25%;
    width: 75%;
}

.b1 {
    width: 70%;
    margin-left: -55px;
}

.a7 {
    margin-left: 17px;
}

.a8 {
    width: 400px;
    height: 40px;
    resize: none;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 25px;
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
}

.a8:focus {
    border-color: #247f9e;
    outline: none;
}

.a8:hover {
    border-color: #247f9e;
}

.a9 {
    margin-top: 25px;
    margin-left: 5%;
    color: white;
    background-color: crimson;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    border: none;
    width: 408px;
    height: 44px;
    position: relative;
}

.a9:focus {
    outline: none;
}

.a9:hover {
    background-color: darkred;
    top: -2px;
    cursor: pointer;
}

.a10 {
    font-size: 12px;
    margin-left: 5%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Commissioner', sans-serif;
    line-height: 20px;
    width: 90%;
}

.a11 {
    color: crimson;
}

.a12 {
    font-family: 'Commissioner', sans-serif;
    font-size: 23px;
    margin-top: 25px;
    margin-left: 5%;
    color: #247f9e;
}

.a13 {
    margin-top: 30px;
}

.a14 {
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    margin-left: 5%;
}

.a14 ~ p {
    font-size: 16px;
    margin-left: 5%;
    line-height: 20px;
    width: 90%;
    margin-top: 25px;
    font-family: 'Commissioner', sans-serif;
    color: rgb(64, 61, 100);
}

.a15 {
    background-color: #5a6980;
    height: 100px;
    position: relative;
}




