// Place all the styles related to the api/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sticky-outer-container {
    position: fixed;
    // position: sticky;
    z-index: 2;
    width: 23%;
    border: 1px solid whitesmoke;
    right: 9%;
    top: 40%;
    border-radius: 6px;
    background-color: white;
    opacity: 85%;
}

.sticky-underline {
    background-color: lightgray;
    height: 2px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.sticky-heading {
    margin-top: 19px;
    font-size: 22px;
    font-family: 'Commissioner', sans-serif;
    text-align: center;
}

.sticky-dropdown {
    width: 90%;
    margin-left: 5%;
    margin-top: 4px;
    font-size: 16px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid lightgray;
    color: gray;
}

.sticky-dropdown:focus, .sticky-date-time:focus {
    border-bottom: 2px solid crimson;
    outline: none;
}

.sticky-dropdown:hover, .sticky-date-time:hover {
    border-bottom: 2px solid crimson;
    cursor: pointer;
}

.sticky-labels {
    margin-top: 15px;
    margin-left: 5%;
    font-family: 'Commissioner', sans-serif;
}

.sticky-date-time {
    width: 42%;
    margin-left: 5%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid lightgray;
}

.sticky-date-label {
    // margin-top: 15px;
    margin-left: 5%;
    font-family: 'Commissioner', sans-serif;
}

.sticky-time-label {
    // margin-top: 15px;
    margin-left: 36%;
    font-family: 'Commissioner', sans-serif;
}

.date-time-container {
    margin-top: 15px;
}

.sticky-button {
    margin-top: 15px;
    margin-left: 5%;
    cursor: pointer;
    height: 45px; 
    width: 90%; 
    border-radius: 3px;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    border: none;
    background-color: rgb(220, 20, 60);
    color: white;
    margin-bottom: 25px;
}

.sticky-button:hover {
    background-color: darkred;
}

.sticky-select-time-label {
    margin-left: 5%;
    font-family: 'Commissioner', sans-serif;
    // margin-top: 15px;
    font-size: 18px;
}

.sticky-time-buttons-container {
    margin-top: 15px;
}

.sticky-time-bombs {
    margin-left: 6%;
    margin-bottom: 25px;
    // font-family: 'Commissioner', sans-serif;
    color: white;
    background-color: crimson;
    border-radius: 4px; 
    font-size: 15px;
    border: none;
    height: 36px;
    width: 83px;
}

.sticky-time-bombs:hover {
    cursor: pointer;
    background-color: darkred;
}

.time-bomb-container {
    margin-top: 15px;
    display: none;
}

.sticky-time-bombs:focus, .sticky-button {
    outline: none;
}

#sticky-loader {
    display: none;
    border: 4px solid lightgray;
    border-radius: 100%;
    border-top: 6px dotted crimson;
    width: 40px;
    height: 40px;
    animation: spin 1.6s linear infinite;
    margin-left: 40%;
    margin-top: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.reservation-top-line {
    border-top: 2px solid lightgray;
    margin-top: 5px;
}

.reservation-show-outer-container {
    width: 60%;
    border: 1px solid lightgray;
    margin-left: 10%;
    margin-top: 10px;
    border-radius: 15px;
}

.reservation-show-button-container {
    margin-top: 20px;
    margin-left: 8%;
}

.reservation-show-top-button {
    margin-left: 2%;
    width: 144px;
    height: 49px;
    border-radius: 4px;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #247f9e;
    border: none;
    position: relative;
}

.reservation-show-top-button:hover {
    cursor: pointer;
    top: -2px;
    filter: brightness(120%);
}

.reservation-show-top-button:focus {
    outline: none;
}

.reservation-show-heading-container {
    width: 100%;
    height: 170px;
    background-color: #55b68d;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.rs1 {
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 30px;
    margin-left: 7%;
    padding-top: 39px;
}

.rs2 {
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    margin-left: 7%;
    margin-top: 32px;
}

.reservation-show-main-container {
    display: flex;
    justify-content: space-evenly;
}

.rs3 {
    color: #247f9e;
    font-size: 40px;
    font-family: 'Commissioner', sans-serif;
    margin-left: -15%;
    margin-top: 30px;
}

.reservation-image {
    width: 120px;
    height:120px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: -32%;
}

.re500 {
    margin-top: 15px;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
}

.re501 {
    margin-top: 15px;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    margin-left: 30px;
}

.re4 {
    display: flex;
    margin-left: -75px;
}

.re5 {
    width: 60%;
    height: 54px;
    background-color: whitesmoke;
    margin-left: 23%;
    margin-top: -40px;
    border-radius: 8px;
}

.re6 {
    width: 80%;
    padding-top: 15px;
    margin-left: 5%;
    font-family: 'Commissioner', sans-serif;
    font-size: 15px;
}

.edit-form-button-container {
    margin: 25px 0px 18px 2%;
}

.re7 {
    margin-left: 2.5%;
    width: 145px;
    height: 51px;
    border-radius: 4px;
    color: white;
    background-color: lightseagreen;
    border: none;
    position: relative;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
}

.re8 {
    margin-left: 2.5%;
    width: 145px;
    height: 51px;
    border-radius: 4px;
    color: white;
    background-color: darkred;
    border: none;
    position: relative;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    top: -10px;
}

.re7:hover, .re50:hover, .re52:hover, .re8:hover {
    cursor: pointer;
    filter: brightness(110%);
}

 .ranch99:hover {
    cursor: pointer;
    filter: brightness(110%);
    top: -2px;
 }

.re7:focus, .re8:focus, .re50:focus, .re52:focus, .ranch99:focus {
    outline: none;
}

.reservation-edit-form-outer-container {
    display: none;
    margin-top: 25px;
}

.re10 {
    width: 340px;
    height: 50px;
    border: 2px solid lightgray;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
}

.re11, .re12 {
    width: 345px;
    height: 55px;
    border: 2px solid lightgray;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
}

.re11:hover, .re12:hover, .re10:hover {
    cursor: pointer;
    border: 1px solid crimson;
}

.re100 {
    display: flex;
    justify-content: space-evenly;
}

.re99 {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.re13 {
    width: 337px;
    height: 46px;
    border: 2px solid lightgray;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
}

.re10:focus, .re11:focus, .re12:focus, .re13:focus {
    border: 1px solid crimson;
    outline: none;
}

.re50 {
    margin-left: 2.5%;
    width: 145px;
    height: 51px;
    border-radius: 4px;
    color: white;
    background-color: lightseagreen;
    border: none;
    position: relative;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
}

.re52 {
    margin-left: 2.5%;
    width: 145px;
    height: 51px;
    border-radius: 4px;
    color: white;
    background-color: darkred;
    border: none;
    position: relative;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
}

.re37 {
    margin-left: 3%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ranch99 {
    margin-left: 6%;
    margin-bottom: 25px;
    font-family: 'Commissioner', sans-serif;
    color: white;
    background-color: crimson;
    border-radius: 4px; 
    font-size: 15px;
    border: none;
    width: 135px;
    height: 44px;
    position :relative;
}

.ninety-9-ranch {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    display: none;
}

.rx8 {
    margin-left: 20px;
}

.rx7 {
    margin-left: 5px;
}

#sticky-loader2 {
    display: none;
    border: 8px solid lightgray;
    border-radius: 100%;
    border-top: 8px solid crimson;
    width: 80px;
    height: 80px;
    animation: spin 1.6s linear infinite;
    margin-left: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.fart {
    font-size: 200;
}

