.sf {
    filter: brightness(40%);
    width: 475px;
    height: 250px;
    position: relative;
}

.sf:hover {
    filter: brightness(90%);
    cursor: pointer;
    top: -2px;
}

.outer-image-container  {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.city-heading {
    position: absolute;
    margin-top: 80px;
    margin-left: 140px;
    font-size: 35px;
    font-family: 'Commissioner', sans-serif;
    color: white; 
    z-index: 10; 
}

