.food {
    width: 100%; 
    height: 370px; 
    filter: brightness(75%);
    object-fit: cover;
    position: absolute;
    z-index: -5;
}

.home-heading {
    margin: auto;
    font-size: 50px;
    color: black;
    font-family: 'Commissioner', sans-serif;
    color: white; 
    position: relative;
    left: 310px;
    top: 150px;
}

// .sf {
//     background-color: hotpink;
//     display: block; 
//     width: 375px;
//     height: 300px;
//     border: 1px solid gray;
//     margin-bottom: 70px;
//     cursor: pointer;
//     font-size: 30px;
// }

// .ny {
//     background-color: darkblue;
//     display: block;
//     width: 375px;
//     height: 300px;
//     border: 1px solid gray;
//     cursor: pointer;
//     font-size: 30px;
//     color: white;
// }

// .la {
//     background-color: yellow;
//     display: block; 
//     width: 375px;
//     height: 300px;
//     border: 1px solid gray;
//     margin-bottom: 70px;
//     cursor: pointer; 
//     font-size: 30px;
// }

// .deep-dish {
//     background-color: darkgreen;
//     display: block; 
//     width: 375px;
//     height: 300px;
//     border: 1px solid gray;
//     cursor: pointer; 
//     font-size: 30px;
//     color: white;
// }

// .sf:hover {
//     filter: brightness(120%);
// }

// .ny:hover {
//     filter: brightness(160%);
// }

// .la:hover {
//     filter: brightness(140%);
// }

// .deep-dish:hover {
//     filter: brightness(160%);
// }

.city-container3 {
    margin-top: 500px;
}

.footer {
    background-color: gray;
    height: 150px;
    font-size: 40px;
    text-align: center;
    font-family: 'Commissioner', sans-serif;
}