 .button-login {
     background-color: rgb(220, 20, 60);
     border-radius: 4px;
     color: white;
     font: inherit;
     height: 47px; 
     width: 250px;
     cursor: pointer;
     font-family: 'Commissioner', sans-serif;
     margin-top: 29px;
     border: none;
 }

 .button-signup {
     background-color: rgb(220, 20, 60);
     border-radius: 4px;
     color: white;
     font: inherit;
     height: 40px; 
     width: 250px;
     margin-top: 12px; 
     cursor: pointer;
     font-family: 'Commissioner', sans-serif;
     margin-top: 20px;
     border: none;
 }

  .button-signup:hover {
   background-color: darkred;
  }

  .button-login:hover {
   background-color: darkred;
  }

  .button-demo:focus, .button-signup:focus, .button-login:focus {
    border: none;
    outline: none;
  }

 .button-demo {
     border-radius: 4px;
    //  color: rgba(113, 143, 97, 0.972);
    // color: rgb(34, 31, 31);
    color: white;
     font: inherit;
     height: 46px; 
     width: 250px;
     margin-top: 26px; 
     cursor: pointer;
     font-family: 'Commissioner', sans-serif;
     border: none;background-color: #247f9e;
 }

  .button-demo:hover {
    filter: brightness(110%);
  }

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-form-container {
   font-family: 'Commissioner', sans-serif;
 }

 .form-heading {
   font-size: 24px;
   margin-top: 40px;
   margin-bottom: 20px;
   font-family: 'Commissioner', sans-serif;
 }

 .form-heading2 {
   font-size: 24px;
   margin-top: 44px;
   margin-bottom: 13px;
   font-family: 'Commissioner', sans-serif;
 }
 
 input[type=text]:hover {
   border-color: darkgray;
 }

  input[type=password]:hover {
    border-color: darkgray;
 }

  .selector {
    margin-top: 15px;
    cursor: pointer; 
   height: 45px; 
   width: 250px; 
   border: 2px solid lightgray
  }

  .selector:hover {
   border-color: darkgray;
 }

  .error-form {
    color: red;
    margin-left: 3px;
    font-size: 14px;
    position: absolute;
    top: 70px;
  }

  .labels {
    position: relative;
    top: -10px;
  }

  .input-username, .input-email, .input-password {
    height: 40px;
    width: 240px; 
    border-style: solid;
    border-color: lightgray;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  .input-username:focus, .input-email:focus, .input-password:focus, .selector:focus {
    border-color: darkgray;
    outline: none;
  }

  // .form-input-container {
  //   margin-top: 10px;
  // }