 .button-login {
     background-color: rgb(220, 20, 60);
     border-radius: 4px;
     color: white;
     font: inherit;
     height: 40px; 
     width: 250px;
     margin-top: 12px; 
     cursor: pointer;
     font-family: 'Commissioner', sans-serif;
     margin-top: 30px;
 }

 .button-signup {
     background-color: rgb(220, 20, 60);
     border-radius: 4px;
     color: white;
     font: inherit;
     height: 40px; 
     width: 250px;
     margin-top: 12px; 
     cursor: pointer;
     font-family: 'Commissioner', sans-serif;
     margin-top: 20px;
 }

  .button-signup:hover {
   background-color: darkred;
  }

  .button-login:hover {
   background-color: darkred;
  }

 .button-demo {
     border-radius: 4px;
     color: rgba(113, 143, 97, 0.972);
     font: inherit;
     height: 40px; 
     width: 250px;
     margin-top: 12px; 
     cursor: pointer;
     font-family: 'Commissioner', sans-serif;
 }

  .button-demo:hover {
    background-color: darkgray;
  }

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-form-container {
   font-family: 'Commissioner', sans-serif;
 }

 .form-heading {
   font-size: 24px;
   margin-top: 40px;
   margin-bottom: 20px;
   font-family: 'Commissioner', sans-serif;
 }

 .form-heading2 {
   font-size: 24px;
   margin-top: 80px;
   font-family: 'Commissioner', sans-serif;
 }

//  input[type=text] {
//   height: 40px;
//   width: 350px; 
//   border-style: solid;
//   border-color: lightgray;
//   margin-bottom: 20px;
  // }
 
 input[type=text]:hover {
   border-color: darkgray;
 }

//  input[type=password] {
//    height: 40px; 
//    width: 350px; 
//    border-style: solid;
//    border-color: lightgray;
//   }

  input[type=password]:hover {
    border-color: darkgray;
 }

  .selector {
    margin-top: 20px;
    cursor: pointer; 
   height: 45px; 
   width: 360px; 
   border: 2px solid lightgray
  }

  .selector:hover {
   border-color: darkgray;
 }

  .error-form {
    color: red;
    margin-left: 3px;
    font-size: 14px;
    position: absolute;
  }

  .labels {
    position: relative; 
  }

  .input-username {
    height: 40px;
    width: 350px; 
    border-style: solid;
    border-color: lightgray;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  .input-email {
    height: 40px;
    width: 350px; 
    border-style: solid;
    border-color: lightgray;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  .input-password {
    height: 40px; 
    width: 350px; 
    border-style: solid;
    border-color: lightgray;
    margin-bottom: 8px; 
    margin-top: 20px;
  }