.restaurant-index-outer-container {
    display: flex; 
}

.restaurant-index-container {
    border: 1px solid lightgray;
    width: 200px; 
    height: 200px; 
    text-align: center;
    font-family: 'Commissioner', sans-serif;
    border-radius: 5px;
    background-color: lightgreen;
    margin-bottom: 10px;
}

.restaurant-index-container:hover {
    cursor: pointer;
    filter: brightness(120%);
    opacity: 70%;
    // box-shadow: 1px 1px 1px gray;
    border: 3px solid lightgray;
}