.restaurant-index-outer-container {
    display: flex; 
    justify-content: space-evenly;
}

.restaurant-index-container {
    text-decoration: none;
    list-style: none;
    border: 1px solid lightgray;
    width: 260px; 
    height: 260px; 
    text-align: center;
    // font-family: 'Commissioner', sans-serif;
    border-radius: 10px;
    margin-bottom: 10px;
}

.restaurant-index-container:hover {
    opacity: 70%;
    cursor: pointer;
    border: 2px solid lightgray;
}

.restaurant-index-picture {
    width: 260px;
    height: 130px;
    object-fit: cover;
}

.restaurant-index-header {
    margin-top: 5px;
    font-size: 25px;
    color: black;
    font-family: 'Commissioner', sans-serif;
}

.restaurant-index-info {
    margin-top: 10px;
    color: black;
    
}