.outer-show-div {
    // height: 100vh;
    background-color: whitesmoke; 
}

.outer-show-container {
    // height: 500vh;
    // background-color: orange;
    display: flex;
}

.dining {
    width: 100%; 
    height: 370px; 
    object-fit: cover;
}

.inner-show-container {
    width: 53%;
    background-color: white;
    position: relative;
    left: 13%;
    top: -45px;
    border-radius: 10px;
    border: 1px solid white;
}

.show-nav {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Commissioner', sans-serif;
    font-size: 23px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.show-nav > li:hover {
    color: darkred;
    cursor: pointer;
    text-decoration: underline;
}

.show-h1 {
    font-size: 30px;
    font-family: 'Commissioner', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.show-ul {
    margin-bottom: 50px; 
}

.show-heading-list {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Commissioner', sans-serif;
    // font-weight: bold;
}

.show-description {
    font-weight: light;
    font-family: 'Commissioner', sans-serif;
    line-height: 30px;
    color: gray;
}

.show-aside-container {
    width: 19%;
    height: 100%;
    background-color: white;
    position: relative;
    left: 15%;
    top: -44px;
    border: 1px solid white; 
    border-radius: 10px;
}

.show-aside-heading {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    margin: 7px 0px; 
}

.show-aside-info {
     font-family: 'Commissioner', sans-serif;
     font-size: 14px;
     color: gray;
}

.review-outer-container {
    margin-top: 20px;
}

.review-heading {
    display: flex;
    justify-content: space-between;
}

.leave-review-button {
    margin-left: 10px;
    cursor: pointer;
    height: 49px; 
    width: 153px; 
    border-radius: 5px;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    border: none;
    background-color: rgb(220, 20, 60);
    color: white;
}

.leave-review-button:hover {
    background-color: darkred;
}

.review-index-item-container {
    display: flex;
    border-top: 2px solid lightgray;
    margin: 10px;
}

.review-box1 {
    margin-top: 10px;
}

.review-box2 {
    margin-left: 20px;
    margin-top: 10px;
}

.review-box2 > span {
    margin-right: 10px;
}

.username-review {
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    color: cadetblue;
}

.create-review-textarea {
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 150px;
    width: 90%;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 15px;
    resize: none;
}

.create-review-textarea:focus {
    border-color: darkgray;
    outline: none;
}

.rating-inner-container {
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

.rating-outer-container {
    margin-left: 15px;
    margin-top: 20px;
}

.create-form-title {
    font-family: 'Commissioner', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 45px;
}

.create-input-button {
    background-color: rgb(220, 20, 60);
    border-radius: 4px;
    color: white;
    font: inherit;
    height: 40px; 
    width: 150px;
    cursor: pointer;
    font-family: 'Commissioner', sans-serif;
    margin-top: 24px;
    border: none;
    margin-left: 31%;
    position: relative;
}

.create-input-button:hover {
    opacity: 87%;
    top: -2px;

}

.hidden-radio {
  display: none;
}

.star {
    cursor: pointer;
    transition: color 100ms; 
    // margin-right: 1px;
    margin-left: 3px;
}

.review-body {
    font-weight: light;
    font-family: 'Commissioner', sans-serif;
    line-height: 23px;
    color: gray;
    margin-bottom: 25px;
}

.review-score {
    margin-bottom: 20px;
    margin-top: 10px;
}

.review-score-list {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    margin-right: 14px;
}

.review-btn-edit {
    border-radius: 4px;
    background-color: white;
    color: rgb(92, 90, 90);
    padding: 6px;
    margin: 5px; 
    text-decoration: none;
    list-style: none;
    outline: none;; 
    cursor: pointer;
    border: 1px solid lightgray; 
    width: 60px;
    height: 32px; 
    font-size: 15px;
    font-family: 'Commissioner', sans-serif;
    position: relative;
}

.review-btn-delete {
    list-style: none;
    border-radius: 4px;
    background-color: lightseagreen;
    text-decoration: none;
    color: white; 
    padding: 6px;
    margin: 5px; 
    cursor: pointer;
    border: none; 
    outline: none;
    width: 60px;
    height: 32px;
    font-size: 15px; 
    font-family: 'Commissioner', sans-serif;
    position: relative;
}

.review-btn-edit:hover, .review-btn-delete:hover {
    opacity: 80%;
    top: -2px;
}