.restaurant-index-outer-container {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.restaurant-index-container {
    margin: 20px;
    border: 1px solid lightgray;
    width: 260px; 
    height: 260px; 
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.restaurant-index-container:hover {
    opacity: 70%;
    cursor: pointer;
    top: -3px;
    // border: 2px solid lightgray;
}

.restaurant-index-picture {
    width: 260px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.restaurant-index-header {
    margin-top: 5px;
    font-size: 25px;
    color: black;
    font-family: 'Commissioner', sans-serif;
    list-style: none;
    outline: none;
}

.restaurant-index-info {
    margin-top: 7px;
    color: black;
    
}

.star-for-index {
    margin-top: 7px;
}