.user-show-outer-container {
    background-color: lightgray;
    height: 2px;
    width: 100%;
}

.user-show-inner-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.user-show-links-container {
    height: 203px;
    width: 245px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background-color: whitesmoke;
    margin-top: 48px;
}

.user-show-links-container h1 {
    color: #247f9e;
    text-align: center;
    margin-top: 30px;
    position: relative;
    font-size: 18px;
}

.user-show-links-container h1:hover {
    top: -2px;
    filter: brightness(120%);
}

.user-show-info-container {
    height: 100%;
    width: 550px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    margin-top: 48px;
    position: relative;
    left: -80px;
    background-color: whitesmoke;
}

.user-show-links-container h1,
.user-show-info-container h1,
.user-show-info-container2 h1 {
    font-family: 'Commissioner', sans-serif;
}

.links-container {
    padding-top: 9px;
}

// .user-show-info-inner-container {
//     width: 90%;
//     height: 80%;
//     border: 1px solid gold;
// }

.profile-heading {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(104, 102, 102);
}

.line-below-heading {
    width: 90%;
    height: 2px;
    background-color: lightgray;
    margin-left: 5%;
    margin-bottom: 15px;
}

.user-bio-list {
    // text-align: center;
    margin-left: 40px;
    font-size: 18px;
    margin-bottom: 30px;
}

.username {
    color: #247f9e;
    margin-left: 20px;
}

.username2 {
    color: rgb(104, 102, 102);
}

.user-fav-image {
    width: 120px;
    height:120px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
}

.user-fav-image:hover {
    top: -2px;
    opacity: 70%;
}

.fav-list-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.user-show-info-container2 {
    height: 100%;
    width: 630px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    margin-top: 48px;
    position: relative;
    left: -80px;
    background-color: whitesmoke;
}

.restaurant-fav-info {
    width: 37%;
}

.that1 {
    font-size: 22px;
    color: #247f9e;
    margin-bottom: 7px;
}

.that1:hover {
    text-decoration: underline;
}

.that2 {
    font-size: 15px;
    margin-top: 7px;
}

.fav-remove-btn {
    list-style: none;
    border-radius: 4px;
    background-color: lightseagreen;
    color: whitesmoke; 
    padding: 6px;
    margin: 5px; 
    cursor: pointer;
    border: none; 
    width: 97px;
    height: 42px;
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
    position: relative;
}

.fav-remove-btn:hover {
    top: -2px;
    filter:brightness(80%);
}

.btn-container-fav, .restaurant-fav-info, .that3 {
    display: flex;
    align-items: center;
}